*{
    font-family: 'Lovelo', sans-serif;
    transition: all 0.5s ease-in-out;
}

.general{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #fdcae1;
    justify-content: center;
    position: absolute;
    align-items: center;
}

.titulo{
    background-color: none;
    text-shadow: #ffffff 0 2px;
}

.contenedor{
    background-color: rgb(157, 255, 255);
    width: 40vw;
    height: 60vh;

    border-style: solid;
    border-radius: 1vw;
    border-color: #84b6f4;
}


#inicioSesion{
    color: #000000;
    text-shadow: #ffffff 0 2px;
}

.form{
    background-color: none;
    height: 50%;
    justify-content: space-between;
}

.usuario{
    background-color: none;
    border-color: #84b6f4;
    border-style: solid;
    border-radius: 1vw;
    width: 50%;
    margin-bottom: 3%;
    text-shadow: #ffffff 0 2px;
}

.contraseña{
    background-color: none;
    border-color: #84b6f4;
    border-style: solid;
    border-radius: 1vw;
    width: 50%;
    margin-bottom: 3%;
    text-shadow: #ffffff 0 2px;
}

.label{
    font-size: 4vh;
}

.input{
    background-color: none;
    margin: 4%;
    font-size: 1.3vw;

}

.botones{
    margin-top: 3%;
    background-color: none;
    height: 10%;
    
}

button:hover{
    color: #ff6961;
    border-color: #ff6961;
    text-shadow: #ffffff 0 2px;
}

.botones1{
    font-size: 2.2vw;
    border-style: solid;
    border-radius: 1vw;
    border-color: rgb(41, 41, 41);
    background-color: transparent;
    text-shadow: #ffffff 0 2px;
}

i{
    font-size: 2vw;
}

h1{
    font-size: 7vw;
}
h2{
    font-size: 2.5vw;
}

@font-face {
    font-family: 'Lovelo';
    src: url('fuentes/Lovelo/Lovelo\ Black.otf') format('opentype'),
         url("fuentes/Lovelo/Lovelo\ Line\ Bold.otf") format("opentype"),
         url("fuentes/Lovelo/Lovelo\ Line\ Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
